{% extends 'base/base.html' %}

{% block content %}

<h1 class="pull-right">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="padding:10px">
            <h4><i>Listado de Libros</i></h4>
        </div>
       <div class="col-4">
            <a href="{% url 'libros:librosCreate' %}" class="btn btn-dark"> Adicionar <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</h1>
{% if libros %}
<table class="table table-danger table-hover" style="opacity:75%">
    <thead>
      <tr class="table-dark" >
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Número de Páginas</th>
        <th scope="col">Editorial</th>
        <th scope="col">ISBN</th>
        <th scope="col">Autor</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
    {% for libro in libros %}
        <tr>
            <td>{{ libro.id}}</td>
            <td>{{ libro.título}}</td>
            <td>{{ libro.núm_pag}}</td>
            <td>{{ libro.editorial}}</td>
            <td>{{ libro.isbn}}</td>
            <td>{{ libro.autor}}</td>
            <td>
            <a href="{% url 'libros:librosEdit' libro.id %}" class="btn btn-dark btn-xs">
                <i class="fa-solid fa-pen"></i>
            </a>
            <a href="{% url 'libros:librosEliminar' libro.id %}" class="btn btn-danger btn-xs">
                <i class="fa-solid fa-trash-can"></i>
            </a>
            </td>
        </tr>
    {% endfor %}
{% else %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card text-black" style="background-color:rgb(255, 116, 116)">
            <h4 class="card-title" style="text-align: center"> ¡Lista Vacía!: No existen registros</h4>
        </div> 
    </div>
</div>
{%endif%}
    </tbody>
  </table>
{% endblock %}