{% extends 'base/base.html' %}

{% block content %}

<h1 class="pull-right">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <h3> Listado de Autores</h3>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
            <a href="{% url 'libros:autorCreate' %}" class="btn btn-dark"> Adicionar <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>
</h1>
{% if libros %}
    <table class="table table-danger table-hover" style="opacity:75%">
        <thead>
        <tr class="table-dark" >
            <th scope="col">Id</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for autor in libros %}
                <tr>
                    <td>{{autor.id}}</td>
                    <td>{{autor.nombres}}</td>
                    <td>
                    <a href="{% url 'libros:autorEdit' autor.id %}" class="btn btn-dark btn-xs">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <a href="{% url 'libros:autorEliminar' autor.id %}" class="btn btn-danger btn-xs">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                    </td>
                </tr>
            {% endfor %}
{% else %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card text-black" style="background-color:rgb(255, 116, 116)">
            <h4 class="card-title" style="text-align: center"> ¡Lista Vacía!: No existen registros</h4>
        </div> 
    </div>
</div>
{%endif%}
    
    </tbody>
  </table>
{% endblock %}